/* WP Pure CSS
Theme URI: http://inmans.org
Description: A custom theme created for Shane Birney Architects
Author: Tim Inman
Author URI: http://inmans.org
Version: 1.0
Tags: responsive, white, purecss, yui


*/

@import url('pure/css/pure.css'); 

body { 
 margin:0;
 padding: 0;
 color: #56646F;
}

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set your content font stack here: */
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}
a:visited {
	color: black;
}

.main {
	width: 74%;
	margin-left: 1%;
}


#title {
/*	position:fixed; */
	font-family: 'Open Sans', sans-serif;
	width: 98%;
	z-index: 112;
	background-color: white;
	margin-left: 1%;
	padding-left: 10px;
	color:black;
	font-weight: 100;

}

#circleLogo{
	position: fixed;
	top:-100px;
	left:1%;
	z-index: 101;
	padding-left: 10px;
}
.pageName {
	text-align: center;
	color: rgb(30, 140, 180);
} 

.grey {
	background-color: #F6F6F6;
}

#menu {
	position: fixed;
	right: 25%;
	text-align: right;
	top: 42px;
	letter-spacing: 2px;
	font-size: 14px;
	width: 35%;
	background-color: #fff;
	z-index: 100;
}
#menu ul {
	margin-right:10px;
}
#menu a {
	color: #56646F;
	text-decoration: none;
/*	text-transform: uppercase; */

}
#menu a:hover {
	color: #49d284;
}
#menu ul li {
	list-style-type: none;
	display: inline;
	margin-left: 9px;
}

.practiceStatement {
	font-size: 24px;
	letter-spacing: 1px;
	font-weight: 300;
}

/* these provide the padding for our grid */
.pure-g-r > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.l-box {
padding: 10px;

}

/* blue box */
  #overlay {
    position:fixed;
    top: 2 20px;
    right: 5%;
    width: 30%;
    z-index: 20;
   	color: #ff8065;
    font-size: 36px;
    font-weight: bolder;
    font-family: 'Montserrat';
  }

  .hovertext {
    background-color: rgb(56,83,246);
    position: relative;
  }


  .hovertext img {
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display:block;
  }

.hovertext img:hover {
  opacity:0.1;
}

.hovertext h4:hover {
	opacity:1;
}

h4.caption {
line-height: 0;
position: absolute;
top: 30px;
left: 20px;
text-transform: normal;
z-index: 2;
padding: 0px;
margin: 0px;
color: white;
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}
.hovered {
	visibility: 1;

}
